/addons
/backgrounds
/bin
/cache
/cfg
/data
/demos
/downloads
/dupes
/gamemodes
/logs
/maps
/media
/models
/particles
/resource
/saves
/screenshots
/scripts
/settings
/shaders
/sound
/videos
/cl.db
/demoheader.tmp
/gameinfo.txt
/GameState.txt
/garrysmod.fgd
/glshaders.cfg
/mn.db
/modelsounds.cache
/stats.txt
/steam.inf
/sv.db
/videoconfig_mac.cfg
/voice_ban.dt
/.buildpath
/.DS_Store
/.project
